<nav>
  <div class="container" style="height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  <h1 style="margin: 0;">DB Assignment 2 - MongoDB CRUD</h1><h4 style="margin: 0;">Kristoffer Damborg - PWE0916, PBA Web Development</h4>
  </div>
</nav>
<div class="container">
  <div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Create Item</h3>
    </div>
    <div class="panel-body">
    <form action="/insert" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button class="btn btn-success pull-right" type="submit">Create</button>
    </form>
  </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h3>Update Item</h3>
      </div>
      <div class="panel-body">
    <form action="/update" method="post">
        <div class="form-group">
            <label for="id"> Item ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button class="btn btn-success pull-right" type="submit">Update</button>
    </form>
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h3>Delete Item</h3>
      </div>
      <div class="panel-body">
    <form action="/delete" method="post">
        <div class="form-group">
            <label for="id">Item ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button class="btn btn-danger pull-right" type="submit">Delete</button>
    </form>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-container">
    <div class="panel panel-default">
      <div class="panel-heading">
     <h3>All Items</h3>
     </div>
     <div class="panel-body">
    <a class="btn btn-default" href="/">Refresh List</a>
    <div>
      <table id="data-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
           {{# each items }}
            <tr>
              <td>{{ this.title }}</td>
              <td>{{ this.content }}</td>
              <td>{{ this.author }}</td>
              <td>{{ this._id }}</td>
            </tr>
           {{/each}}
        </tbody>
      </table>
      
    </div>
    </div>
    </div>
  </div>
    </div>
</div>
