body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif!important;
  background: #cb2d3e!important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e)!important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ef473a, #cb2d3e)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h3 {
  margin-top: 10px!important;
}

nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 25px;
  display: flex; 
  align-items: center;
  background-color: #fff;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.panel-body {
  min-height: 230px;
}

.btn.btn-default {
  margin-bottom: 15px;
}

input[type="text"] {
  border-radius: 10px;
  box-shadow: none!important;
  border: 1px solid #f098a1;
  padding-left: 7px;
}

input[type="search"] {
  border-radius: 10px;
  box-shadow: none!important;
  border: 1px solid #f098a1;
  padding-left: 7px;
}

select {
  border-radius: 10px;
  box-shadow: none!important;
  border: 1px solid #f098a1;
}

.table-container {
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.btn {
  border-radius: 10px!important;
}